Repository mhvk/baseband, pull requests merged in 2018-03, with the labels that each got.

#123 Use sample_shape more directly in read and write.
  baseband/dada/base.py
  baseband/dada/tests/test_dada.py
  baseband/gsb/base.py
  baseband/mark4/base.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/base.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/vdif/base.py
  baseband/vdif/tests/test_vdif.py
  docs/baseband/tutorials/new_edv.rst
Labels: refactoring

#118 Selectively reading sample components with `subset`
  baseband/dada/base.py
  baseband/dada/tests/test_dada.py
  baseband/data/__init__.py
  baseband/gsb/base.py
  baseband/gsb/tests/test_gsb.py
  baseband/mark4/base.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/base.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/vdif/base.py
  baseband/vdif/frame.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
  baseband/vlbi_base/tests/test_vlbi_base.py
  docs/baseband/dada/index.rst
  docs/baseband/tutorials/getting_started.rst
  docs/baseband/vdif/index.rst
Labels: enhancement, refactoring

#122 Default values for GSB payload size and framerate
  baseband/gsb/base.py
  baseband/gsb/tests/test_gsb.py
Labels: gsb

#120 Repaired sample VDIF file
  baseband/data/__init__.py
  baseband/data/sample.vdif
  baseband/data/sample_vlbi.vdif
  baseband/vdif/base.py
  baseband/vdif/tests/test_vdif.py
  docs/baseband/tutorials/getting_started.rst
  docs/baseband/vdif/index.rst
Labels: docs, testing, vdif

#131 Replaced stream reader calls to `header0.time` with `start_time`.
  baseband/gsb/base.py
  baseband/mark4/base.py
  baseband/mark5b/base.py
Labels: performance, refactoring

#130 Cache framerate to speed up _frame_info.
  baseband/vlbi_base/base.py
Labels: performance, refactoring

#137 Correctly refer to GSB rawdump header time as a GPS time.
  baseband/gsb/header.py
  baseband/gsb/tests/test_gsb.py
Labels: bug, gsb

#121 Glossary and Format Documentation
  baseband/dada/header.py
  baseband/gsb/base.py
  baseband/mark4/header.py
  baseband/vdif/header.py
  baseband/vlbi_base/base.py
  docs/baseband/dada/index.rst
  docs/baseband/gsb/index.rst
  docs/baseband/index.rst
  docs/baseband/mark4/index.rst
  docs/baseband/mark5b/index.rst
  docs/baseband/tutorials/getting_started.rst
  docs/baseband/tutorials/glossary.rst
  docs/baseband/tutorials/glossary_substitutions.rst
  docs/baseband/vdif/index.rst
Labels: docs

#144 Error & warning messages start with lowercase.
  baseband/helpers/sequentialfile.py
  baseband/mark4/base.py
  baseband/mark4/header.py
  baseband/mark4/payload.py
  baseband/vdif/base.py
  baseband/vdif/frame.py
  baseband/vdif/header.py
  baseband/vdif/payload.py
  baseband/vlbi_base/header.py
  baseband/vlbi_base/payload.py
  baseband/vlbi_base/utils.py
Labels: refactoring

#143 Remove vlbi_base.header.VLBIHeaderBase.__getattr__.
  baseband/tests/test_conversion.py
  baseband/vdif/header.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
  baseband/vlbi_base/header.py
  baseband/vlbi_base/tests/test_vlbi_base.py
Labels: refactoring

#151 Removed sanity check that header times change by less than 1 second, …
  baseband/vlbi_base/base.py
Labels: bug, mark5b

#152 Assume recent pytest to get rid of warning in testing.
  setup.cfg
Labels: testing

#148 Removed unused _frame_class and _squeezed_shape.
  baseband/mark4/base.py
  baseband/mark5b/base.py
  baseband/vdif/base.py
  baseband/vlbi_base/base.py
Labels: refactoring

#136 Replace costly sorting of VDIF frames by iterating over dict.
  baseband/vdif/base.py
  baseband/vdif/frame.py
Labels: performance, refactoring, vdif

#157 Test case for mark5b stream reader to infer sample_rate
  baseband/mark5b/tests/test_mark5b.py
Labels: mark5b, testing

#161 Subset revisited
  baseband/dada/base.py
  baseband/gsb/base.py
  baseband/gsb/tests/test_gsb.py
  baseband/mark4/base.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/base.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/vdif/base.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
  baseband/vlbi_base/tests/test_vlbi_base.py
  docs/baseband/tutorials/getting_started.rst
Labels: refactoring

#165 Mark4 frame getitem
  baseband/mark4/base.py
  baseband/mark4/frame.py
  baseband/mark4/tests/test_mark4.py
  baseband/vlbi_base/frame.py
  baseband/vlbi_base/payload.py
  baseband/vlbi_base/tests/test_vlbi_base.py
Labels: enhancement, mark4, vlbi_base

#166 Vdif frameset data ordering
  baseband/vdif/base.py
  baseband/vdif/frame.py
  baseband/vdif/tests/test_vdif.py
  docs/baseband/vdif/index.rst
Labels: refactoring, vdif

#153 Raise error if neither kday nor ref_time passed to mark5b stream reader
  baseband/mark4/base.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/base.py
  baseband/mark5b/tests/test_mark5b.py
Labels: mark5b, robustness

#169 Move read up to vlbi_base, requiring a revised _read_frame method.
  baseband/dada/base.py
  baseband/dada/tests/test_dada.py
  baseband/gsb/base.py
  baseband/mark4/base.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/base.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/vdif/base.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
Labels: mark5b, refactoring, vlbi_base

#173 Mark5BHeader.set_time now sets frame_nr.
  baseband/mark5b/base.py
  baseband/mark5b/header.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/tests/test_conversion.py
  baseband/vdif/header.py
Labels: bug, mark5b

#172 Abstract write up
  baseband/dada/base.py
  baseband/dada/tests/test_dada.py
  baseband/gsb/base.py
  baseband/mark4/base.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/base.py
  baseband/mark5b/frame.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/tests/test_conversion.py
  baseband/vdif/base.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
  baseband/vlbi_base/frame.py
  baseband/vlbi_base/utils.py
Labels: refactoring

#181 Allow Mark4Frame to be set using slices.
  baseband/mark4/base.py
  baseband/mark4/frame.py
  baseband/mark4/tests/test_mark4.py
  baseband/vlbi_base/payload.py
Labels: enhancement, mark4

#182 Allow slicing of VDIF frame sets (__getitem__, __setitem__)
  baseband/mark4/frame.py
  baseband/vdif/base.py
  baseband/vdif/frame.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/frame.py
Labels: enhancement, refactoring, vdif
