Repository mhvk/baseband, pull requests merged in 2018-12, with the labels that each got.

#291 Mention that we're now a package affiliated with astropy.
  docs/index.rst
Labels: docs

#292 Perparing for v2.0.0, including finalizing changelog and author list.
  CHANGES.rst
  setup.cfg
Labels: release

#297 Work-around for travis docs-building failure.
  .travis.yml
Labels: testing

#299 Remove cczhu from README.rst contact list.
  README.rst
Labels: docs

#300 Give DOI more visibility, including on the first page of the docs.
  AUTHORS.rst
  README.rst
  docs/authors_for_sphinx.rst
  docs/index.rst
Labels: docs

#296 Python3 only
  .travis.yml
  baseband/dada/__init__.py
  baseband/dada/base.py
  baseband/dada/frame.py
  baseband/dada/header.py
  baseband/dada/payload.py
  baseband/dada/tests/test_dada.py
  baseband/gsb/__init__.py
  baseband/gsb/base.py
  baseband/gsb/file_info.py
  baseband/gsb/frame.py
  baseband/gsb/header.py
  baseband/gsb/payload.py
  baseband/gsb/tests/test_gsb.py
  baseband/guppi/__init__.py
  baseband/guppi/base.py
  baseband/guppi/frame.py
  baseband/guppi/header.py
  baseband/guppi/payload.py
  baseband/guppi/tests/test_guppi.py
  baseband/helpers/sequentialfile.py
  baseband/helpers/tests/test_sequentialfile.py
  baseband/mark4/__init__.py
  baseband/mark4/base.py
  baseband/mark4/file_info.py
  baseband/mark4/frame.py
  baseband/mark4/header.py
  baseband/mark4/payload.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/__init__.py
  baseband/mark5b/base.py
  baseband/mark5b/file_info.py
  baseband/mark5b/frame.py
  baseband/mark5b/header.py
  baseband/mark5b/payload.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/tests/test_conversion.py
  baseband/tests/test_core.py
  baseband/tests/test_file_info.py
  baseband/tests/test_sequential_baseband.py
  baseband/vdif/__init__.py
  baseband/vdif/base.py
  baseband/vdif/file_info.py
  baseband/vdif/frame.py
  baseband/vdif/header.py
  baseband/vdif/payload.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
  baseband/vlbi_base/encoding.py
  baseband/vlbi_base/file_info.py
  baseband/vlbi_base/frame.py
  baseband/vlbi_base/header.py
  baseband/vlbi_base/payload.py
  baseband/vlbi_base/tests/test_vlbi_base.py
  baseband/vlbi_base/utils.py
  setup.cfg
Labels: astropy-helpers/template, refactoring

#306 Fix broken links in docs and change settings to prevent recurrence
  baseband/gsb/base.py
  baseband/guppi/base.py
  baseband/helpers/sequentialfile.py
  baseband/mark4/base.py
  baseband/mark4/file_info.py
  baseband/mark4/frame.py
  baseband/mark5b/base.py
  baseband/vdif/base.py
  baseband/vdif/frame.py
  baseband/vdif/payload.py
  baseband/vlbi_base/base.py
  baseband/vlbi_base/file_info.py
  baseband/vlbi_base/utils.py
  docs/conf.py
  docs/gsb/index.rst
  docs/guppi/index.rst
  docs/mark4/index.rst
  docs/nitpick-exceptions
  docs/tutorials/new_edv.rst
  docs/vlbi_base/index.rst
Labels: bug, docs
