Repository mhvk/baseband, pull requests merged in 2018-07, with the labels that each got.

#249 Ensure TimeGSB works with latest astropy.
  CHANGES.rst
  baseband/gsb/header.py
Labels: astropy|numpy-dev, gsb

#250 Fixed rounding error when encoding 4-bit data using encode_4bit_base.
  CHANGES.rst
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/encoding.py
Labels: bug, vdif, vlbi_base

#253 Abstract FileNameSequencer
  baseband/dada/base.py
  baseband/dada/tests/test_dada.py
  baseband/guppi/base.py
  baseband/guppi/tests/test_guppi.py
  baseband/helpers/sequentialfile.py
  baseband/helpers/tests/test_sequentialfile.py
Labels: refactoring

#254 Sequential file support openers
  CHANGES.rst
  baseband/core.py
  baseband/dada/base.py
  baseband/dada/tests/test_dada.py
  baseband/guppi/base.py
  baseband/guppi/tests/test_guppi.py
  baseband/helpers/sequentialfile.py
  baseband/helpers/tests/test_sequentialfile.py
  baseband/mark4/base.py
  baseband/mark5b/base.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/tests/test_core.py
  baseband/tests/test_sequential_baseband.py
  baseband/vdif/base.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
  docs/dada/index.rst
  docs/guppi/index.rst
  docs/helpers/index.rst
  docs/tutorials/getting_started.rst
Labels: enhancement, refactoring

#257 Minor changes
  CHANGES.rst
  baseband/helpers/tests/test_sequentialfile.py
  setup.cfg
Labels: release, testing

#256 Ensure no warnings appear when doing fh.info() or bcd encoding/decoding
  baseband/core.py
  baseband/vlbi_base/file_info.py
  baseband/vlbi_base/tests/test_vlbi_base.py
  baseband/vlbi_base/utils.py
Labels: refactoring, testing, vlbi_base
