Repository mhvk/baseband, pull requests merged in 2018-04, with the labels that each got.

#185 Disallow access to DADA headers via attributes.
  baseband/dada/base.py
  baseband/dada/header.py
  baseband/dada/tests/test_dada.py
Labels: dada, refactoring

#159 Reorder arguments to stream readers and writers.
  baseband/__init__.py
  baseband/dada/base.py
  baseband/dada/frame.py
  baseband/dada/header.py
  baseband/dada/payload.py
  baseband/dada/tests/test_dada.py
  baseband/gsb/__init__.py
  baseband/gsb/base.py
  baseband/gsb/frame.py
  baseband/gsb/header.py
  baseband/gsb/payload.py
  baseband/gsb/tests/test_gsb.py
  baseband/helpers/sequentialfile.py
  baseband/mark4/__init__.py
  baseband/mark4/base.py
  baseband/mark4/frame.py
  baseband/mark4/header.py
  baseband/mark4/payload.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/__init__.py
  baseband/mark5b/base.py
  baseband/mark5b/frame.py
  baseband/mark5b/header.py
  baseband/mark5b/payload.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/tests/test_conversion.py
  baseband/tests/test_sequential_baseband.py
  baseband/vdif/__init__.py
  baseband/vdif/base.py
  baseband/vdif/frame.py
  baseband/vdif/header.py
  baseband/vdif/payload.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
  baseband/vlbi_base/encoding.py
  baseband/vlbi_base/frame.py
  baseband/vlbi_base/header.py
  baseband/vlbi_base/payload.py
  baseband/vlbi_base/tests/test_vlbi_base.py
  baseband/vlbi_base/utils.py
  docs/baseband/dada/index.rst
  docs/baseband/gsb/index.rst
  docs/baseband/helpers/index.rst
  docs/baseband/mark4/index.rst
  docs/baseband/mark5b/index.rst
  docs/baseband/tutorials/getting_started.rst
  docs/baseband/vdif/index.rst
Labels: refactoring

#186 Leftover from frameset __setitem__ - use it in writer.
  baseband/vdif/base.py
  baseband/vdif/frame.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
Labels: refactoring, vdif

#188 Enable IPython autocomplete of header keys.
  baseband/dada/header.py
  baseband/tests/coveragerc
  baseband/vdif/frame.py
  baseband/vlbi_base/frame.py
  baseband/vlbi_base/header.py
Labels: enhancement

#187 Wrap binary file
  baseband/dada/base.py
  baseband/gsb/base.py
  baseband/gsb/tests/test_gsb.py
  baseband/mark4/base.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/base.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/tests/test_conversion.py
  baseband/vdif/base.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
  docs/baseband/gsb/index.rst
  docs/baseband/mark4/index.rst
  docs/baseband/mark5b/index.rst
Labels: refactoring

#189 Docs one level up
  docs/baseband/index.rst
  docs/dada/index.rst
  docs/gsb/index.rst
  docs/helpers/index.rst
  docs/index.rst
  docs/install.rst
  docs/mark4/index.rst
  docs/mark5b/index.rst
  docs/tutorials/VDIFHeader.png
  docs/tutorials/getting_started.rst
  docs/tutorials/glossary.rst
  docs/tutorials/glossary_substitutions.rst
  docs/tutorials/new_edv.rst
  docs/vdif/index.rst
  docs/vlbi_base/index.rst
Labels: docs, refactoring

#190 Consistently use `valid` and `fill value`.
  baseband/dada/base.py
  baseband/dada/frame.py
  baseband/dada/payload.py
  baseband/gsb/base.py
  baseband/gsb/frame.py
  baseband/gsb/payload.py
  baseband/mark4/base.py
  baseband/mark4/frame.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/base.py
  baseband/mark5b/frame.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/tests/test_conversion.py
  baseband/vdif/base.py
  baseband/vdif/frame.py
  baseband/vdif/payload.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
  baseband/vlbi_base/frame.py
  baseband/vlbi_base/payload.py
  baseband/vlbi_base/tests/test_vlbi_base.py
  docs/tutorials/getting_started.rst
Labels: refactoring

#192 Remove the frame_nr option in get_time and set_time.
  baseband/mark5b/base.py
  baseband/mark5b/header.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/tests/test_conversion.py
  baseband/vdif/header.py
  baseband/vdif/tests/test_vdif.py
Labels: mark5b, refactoring, vdif

#194 Use fraction instead of ms/ns in mark4/5b headers.
  baseband/mark4/base.py
  baseband/mark4/header.py
  baseband/mark5b/header.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/vdif/header.py
Labels: mark4, mark5b, refactoring

#191 Change `size` to `nbytes`
  baseband/dada/base.py
  baseband/dada/frame.py
  baseband/dada/header.py
  baseband/dada/payload.py
  baseband/dada/tests/test_dada.py
  baseband/gsb/base.py
  baseband/gsb/frame.py
  baseband/gsb/header.py
  baseband/gsb/payload.py
  baseband/gsb/tests/test_gsb.py
  baseband/mark4/base.py
  baseband/mark4/frame.py
  baseband/mark4/header.py
  baseband/mark4/payload.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/base.py
  baseband/mark5b/frame.py
  baseband/mark5b/header.py
  baseband/mark5b/payload.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/tests/test_conversion.py
  baseband/tests/test_sequential_baseband.py
  baseband/vdif/base.py
  baseband/vdif/frame.py
  baseband/vdif/header.py
  baseband/vdif/payload.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
  baseband/vlbi_base/frame.py
  baseband/vlbi_base/header.py
  baseband/vlbi_base/payload.py
  baseband/vlbi_base/tests/test_vlbi_base.py
  docs/gsb/index.rst
Labels: refactoring

#196 Filereader repr
  baseband/gsb/base.py
  baseband/gsb/tests/test_gsb.py
  baseband/mark4/base.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/base.py
  baseband/mark5b/tests/test_mark5b.py
Labels: bug, gsb, mark4, mark5b

#197 Also require setting nchan for Mark5BFileReader.read_frame()
  baseband/mark5b/base.py
  baseband/mark5b/tests/test_mark5b.py
Labels: bug, mark5b

#201 Further standardized docstrings
  baseband/dada/base.py
  baseband/dada/frame.py
  baseband/dada/header.py
  baseband/gsb/base.py
  baseband/gsb/frame.py
  baseband/gsb/header.py
  baseband/gsb/payload.py
  baseband/mark4/base.py
  baseband/mark4/frame.py
  baseband/mark4/header.py
  baseband/mark4/payload.py
  baseband/mark5b/base.py
  baseband/mark5b/frame.py
  baseband/mark5b/header.py
  baseband/vdif/base.py
  baseband/vdif/frame.py
  baseband/vdif/header.py
  baseband/vdif/payload.py
  baseband/vlbi_base/base.py
  baseband/vlbi_base/frame.py
  baseband/vlbi_base/header.py
  baseband/vlbi_base/payload.py
  baseband/vlbi_base/utils.py
  docs/mark5b/index.rst
Labels: docs

#202 Move get_frame_rate to the readers.
  baseband/dada/base.py
  baseband/dada/tests/test_dada.py
  baseband/gsb/base.py
  baseband/gsb/tests/test_gsb.py
  baseband/mark4/base.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/base.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/vdif/base.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
Labels: refactoring

#119 Setup and documentation files for release
  AUTHORS.rst
  CHANGES.rst
  README.rst
  docs/changelog.rst
  docs/index.rst
  docs/install.rst
  docs/license.rst
  setup.cfg
Labels: release

#203 Renew link to coverage badge.
  README.rst
Labels: docs

#205 Extend shape/size/ndim standard to stream readers.
  baseband/dada/tests/test_dada.py
  baseband/gsb/tests/test_gsb.py
  baseband/mark4/tests/test_mark4.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/vdif/tests/test_vdif.py
  baseband/vlbi_base/base.py
  docs/helpers/index.rst
  docs/tutorials/getting_started.rst
Labels: enhancement, refactoring

#206 Update Astropy dependency to >=2.0
  setup.cfg
Labels: build

#207 Add Zenodo DOI and update version to 1.0.0.
  README.rst
  setup.cfg
Labels: release

#211 Minor DADA bugfixes.
  CHANGES.rst
  baseband/dada/base.py
  baseband/dada/frame.py
  baseband/dada/header.py
  baseband/dada/tests/test_dada.py
Labels: bug, dada

#215 Add changelog entry for file_info. [ci skip]
  CHANGES.rst
Labels: docs

#216 Ensure mark5b header fractional times are checked.
  CHANGES.rst
  baseband/mark5b/header.py
  baseband/mark5b/tests/test_mark5b.py
  baseband/tests/test_conversion.py
  baseband/vdif/header.py
Labels: bug, mark5b

#217 For getting/setting VDIF times, use frame_rate instead of sample_rate.
  CHANGES.rst
  baseband/tests/test_conversion.py
  baseband/vdif/base.py
  baseband/vdif/file_info.py
  baseband/vdif/header.py
  baseband/vdif/tests/test_vdif.py
Labels: refactoring, vdif

#218 Refactor VDIF time setting/getting over subclasses.
  baseband/vdif/header.py
  baseband/vdif/tests/test_vdif.py
Labels: refactoring, vdif
