Repository mhvk/baseband, pull requests merged in 2020-11, with the labels that each got.

#467 Allow pathlib path in opener
  CHANGES.rst
  baseband/base/base.py
  baseband/base/tests/test_opener.py
  baseband/tests/test_file_info.py
Labels: base, bug

#468 Allow "irrelevant" arguments to be passed on from general opener.
  CHANGES.rst
  baseband/base/base.py
  baseband/io/__init__.py
  baseband/tests/test_core.py
Labels: base, bug

#463 Test with python 3.9 on travis
  .travis.yml
  tox.ini
Labels: testing

#470 Make VDIF EDF3 payload size more flexible
  CHANGES.rst
  baseband/vdif/header.py
  baseband/vdif/tests/test_vdif.py
Labels: bug, enhancement, vdif
